@using CEB64ControlSystem.ViewModels
@model Grupo


<script>let Id = @Model.id</script>
<div id="app">
    <h1 class="mb-2">1A <i class="fa-solid fa-user-group"></i></h1>
    <section class="edit-section">
        <div>
            <h3 class="mb-2">Editar grupo</h3>
            <section class="row ">
                <div class="w-50">
                    <label asp-for="Name" class="control-label"></label>
                    <input class="form-control" v-model="Model.Name" />
                    <span class="text-danger"></span>
                </div>
                <div class="w-50">
                    <label asp-for="SemestreID" class="control-label"></label>
                    <select class="form-select" v-model="Model.SemestreID">
                         <option v-for="Semestre in Model.Semestres" value="Semestre.Id">{{Semestre.Name}}</option>
                    </select>
                    <span class="text-danger"></span>
                </div>
            </section>
            <section class="row">
            </section>
        </div>
    </section>
</div>


@section Scripts {

    <script type="text/javascript" src="/js/Grupos/Edit.js" ></script>
}