@using CEB64ControlSystem.ViewModels.Grupos

@model GruposListViewModel

@{
    Layout = "EntityIndexList";
}

@section Filters 
{
    <div class="col-sm-2 pe-2">
        <input autocomplete="off" asp-for="Filters.Name" placeholder="Ingresar grupo" class="form-control" onchange="this.form.submit()" />
    </div>
    <div class="col-sm-2 pe-2">
        <select asp-for="Filters.SemestreID" onchange="this.form.submit()" class="form-select">
            <option value="null">Todos</option>
            @foreach(Semestre semsetre in Model.Semestres)
            {
                <option value="@semsetre.Id" onchange="this.form.submit()">@semsetre.Name</option>
            }
        </select>
    </div>
}