@using CEB64ControlSystem.ViewModels.Alumnos
@using CEB64ControlSystem.ModelsDto

@model AlumnosListViewModel

@{
    Layout = "EntityIndexList";
}

@section Filters 
{
    <div class="col-sm-2 pe-2">
        <input autocomplete="off" asp-for="Filters.Name" placeholder="Nombre" class="form-control" onchange="this.form.submit()" />
    </div>
    <div class="col-sm-2 pe-2">
        <select asp-for="Filters.SemestreId" onchange="this.form.submit()" class="form-select">
            <option value="null">Todos los semestres</option>
            @foreach(Semestre semsetre in Model.Semestres)
            {
                <option value="@semsetre.Id" onchange="this.form.submit()">@semsetre.Name</option>
            }
        </select>
    </div>
    <div class="col-sm-2 pe-2">
        @if(Model.Grupos.Any()){
            <select asp-for="Filters.GrupoId" onchange="this.form.submit()" class="form-select">
                <option value="null">Todos los Grupos</option>
                @foreach (GrupoDto Grupo in Model.Grupos)
                {
                    <option value="@Grupo.Id" onchange="this.form.submit()">@Grupo.Name</option>
                }
            </select>
        }
        else
        {
            <select disabled class="form-select">
                <option value="null">Todos los Grupos</option>
            </select>
        }
    </div>
}

